.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.distributor-container {
    padding: 0px 0;
}

/* Hero Banner */

.title-area {

    background:
        linear-gradient(
            rgba(0,0,0,.65),
            rgba(0,0,0,.65)
        ),
        url('../../../assets/Images/about-us.webp');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 120px 0px;

    text-align: center;

    /* border-radius: 25px; */

    margin-bottom: 60px;
}

.title-area span {
    color: #d4af37;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
}

.title-area h2 {
    color: #fff;
    font-size: 55px;
    margin: 20px 0;
    font-weight: 700;
}

.title-area p {
    color: #f5f5f5;
    font-size: 18px;
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
}

/* Main Grid */

.distributor-grid {
    display: grid;
    grid-template-columns: 1fr 450px;
    gap: 40px;
margin-bottom: 31px;
}

/* Benefits */

.benefits-section {
    display: grid;
    gap: 20px;
}

.benefit-card {

    display: flex;
    gap: 31px;

    padding: 25px;

    background: #fff;

    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0,0,0,.08);

    transition: .3s;
}

.benefit-card:hover {
    transform: translateY(-5px);
}

.benefit-card i {
    font-size: 35px;
    color: #c89b3c;
    min-width: 50px;
}

.benefit-card h4 {
    margin-bottom: 8px;
}

.benefit-card p {
    color: #666;
    margin: 0;
}

/* Form */

.inquiry-card {

    background: #fff;

    padding: 35px;

    border-radius: 20px;

    box-shadow: 0 5px 25px rgba(0,0,0,.08);

    height: fit-content;
}

.inquiry-card h3 {
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea {

    width: 100%;

    padding: 14px;

    border: 1px solid #ddd;

    border-radius: 10px;

    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {

    border-color: #c89b3c;
}

button {

    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 10px;

    background: #c89b3c;

    color: white;

    font-size: 16px;

    cursor: pointer;
}

button:hover {
    opacity: .9;
}

/* Mobile */

@media(max-width:991px){

    .distributor-grid{
        grid-template-columns:1fr;
    }

    .title-area{
        padding:80px 20px;
    }

    .title-area h2{
        font-size:38px;
    }
}

@media(max-width:576px){

    .title-area h2{
        font-size:30px;
    }

    .title-area p{
        font-size:15px;
    }

}