.container {
    width: 100%;
   
    margin: auto;

}

.contact-container {
        padding: 0px 0px;
}

.image {

    height: 501px;

   
width: 100%;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.60),
            rgba(0, 0, 0, 0.60)
        ),
        url("../../../assets/Images/about-us.webp");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.contact-header {
    max-width: 850px;
    padding: 21px;
}

.contact-header span {
    color:var(--warning-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
}

.contact-header h1 {
    color: var(--text-light);
    font-size: 60px;
    font-weight: 700;
    margin: 20px 0;
}

.contact-header p {
    color: var(--text-light);
    font-size: 20px;
    line-height: 1.8;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 40px;
    margin-top: 20px;
}

.contact-info,
.contact-form {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.brand-box h2 {
    color: var( --primary-color);
    margin-bottom: 15px;
}

.brand-box p {
    color:var(--text-secondary);
    line-height: 1.8;
}

.info-card {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}
.icons {
    /* color: var(--primary-color);
    border-radius: 50px; */
     width: 34px;
    height: 34px;
    border-radius: 45px;
    background: linear-gradient(135deg, var(--primary-color), var(--primary-light));
    display: flex;
   
    
    color: var(--text-light);
    font-size: 8px;
}

.info-card i {
    color: var(--bg-color);
    font-size: 19px;
    margin-top: 7px;
    margin-left: 8px;
}

.info-card h4 {
    margin-bottom: 5px;
}

.info-card p {
    color: #666;
    line-height: 1.7;
}

.social-icons {
    margin-top: 35px;
}

.social-icons h4 {
    margin-bottom: 15px;
}

.social-icons a {
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--text-light);
    border-radius: 50%;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

.social-icons a  {
    background: var(--primary-color);
    color:var(--text-light);
}

.contact-form h2 {
    margin-bottom: 25px;
    color: var(--primary-color);
   
}

.input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color:var(--primary-color);
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background:var( --success-color);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    opacity: .9;
}

@media(max-width:991px){

    .contact-grid{
        grid-template-columns:1fr;
    }

    .input-grid{
        grid-template-columns:1fr;
    }
     .image{
        height: 350px;
    }

    .contact-header h1{
        font-size: 36px;
    }

    .contact-header p{
        font-size: 16px;
    }
}
